body {
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
}

.contenedor-centrado {
    border: 1px solid #ccc;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 5px;
    text-align: center;
    max-width: 600px;
    width: 90%;
    margin-bottom: 20px;
}

h2.pregunta { /* Es más específico usar h2.pregunta */
    text-align: center; /* Centra el texto horizontalmente */
    padding: 15px; /* Agrega un padding de 15 píxeles en todos los lados */
    /* Puedes usar valores diferentes para cada lado si lo deseas, por ejemplo:
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    */
}

.opciones-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr); /* Esto hará que las columnas tengan el mismo ancho */
    gap: 10px;
    margin-top: 20px;
}

.btn-opcion {
    width: 100%;
}

#textbox-container {
    margin-top: 20px;
    font-size: 24px;
}

#siguiente-pregunta-btn {
    /* El centrado horizontal se maneja con align-self */
}